{% extends '_layouts/main' %}

{% block content %}

<div class="h1-wrapper-top">
  <h1>Distributors Portal</h1>
</div>

<div class="distributors-portal flex">
  <button href="{# TODO #}">Get a Quote</button>
  <button href="{# TODO #}">Data Sheets</button>
</div>

{% endblock %}
