{# distributors portal #}

{% extends '_layouts/main' %}

{% block content %}

<div class="h1-wrapper-top">
  <h1>Distributors Portal</h1>
</div>

<div class="distributors-portal flex">
  <a href="{{ url('contact') }}"><button class="button">Get a Quote</button></a>
  <a href="{{ url('data-sheets') }}"><button class="button">Data Sheets</button></a>
</div>

{% endblock %}
