{% extends "_layout" %}


{% block content %}
<h1>Check out our global partners.</h1>
<p>{{entry.body}}</p>

<div>
<p>Username</p>
<input/>
<p>Password</p>
<input/>
<a href="#">Forgot password</a>
<a href="#">Become a distributor</a>
<button>Log in</button>
</div>
{# craft map plugin here, see Treno #}



{# see studentmedia advertising accordion, close to identical #}

{% endblock %}
