<h1>About Us</h1>

<!-- Displays feature image of webpage. -->

{#    {% include 'layouts/ImageLayout.html'%} #}



{{ entry.subHeadline }}

{{ entry.body }}



<!-- Displays footer layout and footer information. -->
{% block subcontent %}
    {% include 'layouts/footer.html'%}
{% endblock %}
