{% extends "_layouts/main" %}

{% block content %}

<div class="about">
  <img class="feature-img" src="{{ entry.featureImage.one().getUrl() }}" alt="{{ entry.featureImage.one().title }}">

  <div class="h1-wrapper-top">
    <h1>About Us</h1>
  </div>

  <div class="about-body">
    {{ entry.body }}
  </div>
</div>

{% endblock %}
