{% extends "_layouts/main" %}

{% block content %}

<div class="about-h2-image">
  <h1 class="about-title">About Us</h1> {# TODO - add svg background #}
</div>

<div class="about-content">
  {{- entry.body -}}
</div>

{% endblock %}
