{% extends "_layouts/main" %}

{% block content %}

<section class="about">
  <img src="{{ entry.featureImage.one().getUrl() }}" alt="{{ entry.featureImage.one().title }}">

  <div class="about-h1-wrapper">
    <h1>About Us</h1>
  </div>

  <div class="about-body">
    {{ entry.body }}
  </div>
</section>

{% endblock %}
