{% extends "_layouts/main" %}

{% block content %}

<section id="about">
  <h1 class="about-title">About Us</h1>

  <div class="about-content">
    {{ entry.body }}
  </div>
</section>

{% endblock %}
