{% extends "_layouts/main" %}

{% block content %}

{# feature image #}
<img src="{{ entry.featureImage.one().getUrl() }}" class="feature-img">

<section class="section-about">
  <h1>About Us</h1>

  {{ entry.body }}
</section>

{% endblock %}
