<div class="featured">
  <div class="h1-wrapper-top">
    <h1>Featured Products</h1>
  </div>

  <div class="featured-container flex">
    {% for product in craft.products.featuredProduct(true).orderBy('RAND()').all() %}
      <div>
        <a class="featured-link" href="{{ product.url }}">
          <img src="{{ product.productImage.one().getUrl() }}" alt="{{ product.productImage.one().title }}" class="featured-product-img">
        <div class="featured-title">{{ product.title }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% js %}

{# add carousel to featured products container #}
$('.featured-container').slick({
  {# autoplay: true,
  autoplaySpeed: 5000, #}
  centerMode: true,
  centerPadding: 0,
  infinite: true,
  slidesToShow: 3,
  swipeToSlide: true,
});

{% endjs %}
