<div class="featured-products flex">
  <h1>Featured Products</h1>

  <div class="featured-products-wrapper flex">
    {% for product in craft.products.all() %}
      {% if product.featuredProduct %}
        <a href="{{ product.url }}" class="flex">
          <img src="{{ product.productImage.one().getUrl() }}"alt="{{ product.productImage.one().title }}">
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% js %}

  {# add carousel to featured products wrapper #}
  $('.featured-products-wrapper').slick({
    dots: true,
    slidesToShow: 3,
    slidesToScroll: 3,
  });

{% endjs %}
