<div class="featured-products">
  <h1>Featured Products</h1>

  <div class="flex featured-products-wrapper">
    {% for product in craft.products.type('clothing').all() %}
      {% if product.featuredProduct %}
        <a href="{{ product.url }}" class="flex">
          <img src="{{ product.productImage.one().getUrl() }}"alt="{{ product.productImage.one().title }}">
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
