<div class="featured">
  <div class="featured-h1-wrapper">
    <h1>Featured Products</h1>
  </div>

  <div class="featured-wrapper flex">
    {% for product in craft.products.all() %}
      {% if product.featuredProduct %}
        <div>
          <a href="{{ product.url }}">
            <img src="{{ product.productImage.one().getUrl() }}" alt="{{ product.productImage.one().title }}">
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% js %}

'use strict';

{# add carousel to featured products wrapper #}
$('.featured-wrapper').slick({
  {# autoplay: true,
  autoplaySpeed: 2000, #}
  slidesToShow: 3,
  slidesToScroll: 3,
});

{% endjs %}
