{# newsletter form #}

<div id="newsletter-sub">
  <h2>Sign Up to Recieve Our Weekly Newsletter</h2>

  <form action="" method="POST">
    {{ csrfInput() }}
    <input name="action" type="hidden" value="mailchimp-subscribe/list/subscribe">
    <input type="hidden" name="redirect" value="{{ 'newsletter/receipt' | hash }}">

    {% if mailchimpSubscribe is defined %}
      {% if (not mailchimpSubscribe.success) and (mailchimpSubscribe.errorCode != '1000') %}
        <p>An error occured. Please try again.</p>
      {% endif %}
    {% endif %}

    <div class="field-line">
      <label {% if (mailchimpSubscribe is defined) and (mailchimpSubscribe.errorCode == '1000') %} class="error" {% endif %}></label>
      <input type="email" name="email" placeholder="Email Address" value="{% if (mailchimpSubscribe is defined) and (not mailchimpSubscribe.success) %}{{ mailchimpSubscribe.values.email }}{% endif %}">
    </div>

    <input name="" type="submit" value="Subscribe!">
  </form>
</div>
