<div class="products-search">
  <h2>Find a Product</h2>

  <div class="products-search-wrapper">
    <ul>
      <li><a href="{{ url('contact') }}">Request Quote</a></li>
      <li><a href="{{ url('contact') }}">Request Assistance</a></li>
      <li><a href="{{ url('search') }}">Product Search</a></li>
    </ul>
  </div>
</div>
