<div class="products-find">
  <h2>Find Your Perfect Product</h2>

  <div class="products-find-wrapper">
    <ul>
      <li><a href="{{ url('contact') }}">Request Quote</a></li>
      <li><a href="{{ url('contact') }}">Request Assistance</a></li>
      <li><a href="{{ url('search') }}">Product Finder</a></li>
    </ul>
  </div>
</div>
