# uploads
httpdocs/assets/img/uploads/
!httpdocs/assets/img/uploads/logo.png

# transformed images
httpdocs/assets/img/*/_*

# backups and logs
storage/backups/
storage/logs/
storage/runtime/

# common files that don't need versioning
**/.DS_Store
**/.sass-cache/
**/node_modules/
**/cpresources/
**/*.css.map
.env
.idea
.sass-cache
.vscode/
