/*
Error: Invalid CSS after "...tials/products'": expected "{", was ";"
        on line 14 of assets/_sass/style.scss

9: @import 'partials/footer';
10: @import 'partials/featured-products';
11: @import 'partials/testimonials';
12: @import 'partials/distributors';
13: <<<<<<< HEAD
14: @import 'partials/products';
15: @import 'partials/contact';
16: =======
17: @import 'partials/news';
18: >>>>>>> 80c7751ad33dde01fe99e9a60b9b4d877c2bebdd

Backtrace:
assets/_sass/style.scss:14
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...tials/products'\": expected \"{\", was \";\"\A         on line 14 of assets/_sass/style.scss\A \A 9: @import 'partials/footer';\A 10: @import 'partials/featured-products';\A 11: @import 'partials/testimonials';\A 12: @import 'partials/distributors';\A 13: <<<<<<< HEAD\A 14: @import 'partials/products';\A 15: @import 'partials/contact';\A 16: =======\A 17: @import 'partials/news';\A 18: >>>>>>> 80c7751ad33dde01fe99e9a60b9b4d877c2bebdd"; }
