<h1>Contact Us</h1>

{% include 'layouts/ImageLayout.html'%} <!-- Displays feature image of webpage. -->

{{ entry.subHeadline }}
{{ entry.body }}

{% include 'layouts/footer.html'%} <!-- Displays footer layout and footer information. -->
