// variables

// colors
$color-white: #fafafa;      // color for dark backgrounds
$color-white-pure: #ffffff; // default background color
$color-red: #ff5722;        // errors
$color-yellow: #f9c546;
$color-green-dark: #008e56;
$color-green: #93cfb7;
$color-blue: #007bff;       // default a tag color
$color-gray: #a9b4b9;
$color-black: #212121;      // default color

// fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Roboto+Slab:400,700');

$font-roboto-slab: 'Roboto Slab', serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;
