{% extends '_layouts/main' %}

{% block content %}

<div class="search">
  <div class="h1-wrapper-top">
    <h1>Search Our Products</h1>
  </div>

  <form action="{{ url('search/results') }}" name="search-form">
    <input type="search" name="q" placeholder="Search" autofocus required>
    <input type="submit" value="Go">
  </form>
</div>

{% endblock %}
