{% extends "_layouts/main" %}

{% block content %}

<h1>Search Results</h1>

{% set query = craft.app.request.getParam('q') %}
{% set entries = craft.entries().search(query).orderBy('score').all() %}

{% if entries|length %}
  <p>{{ entries|length }} results:</p>

  <ul>
    {% for entry in entries %}
      <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Your search for “{{ query }}” didn’t return any results.</p>
{% endif %}


{% endblock %}
