{% extends '_layouts/main' %}

{% block content %}

<div class="search-results">
  <h1>Search Results</h1>

  {% set query = craft.app.request.getParam('q') %}
  {% set products = craft.products.search(query).orderBy('score').all() %}

  {% if products|length %}
    <p>{{ products|length }} results:</p>

    <ul>
      {% for product in products %}
        <li><a href="{{ product.getUrl() }}">{{ product.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Your search for "{{ query }}" didn’t return any results.</p>
  {% endif %}
</div>

{% endblock %}
