{% extends "_layouts/main" %}

{% block content %}

<section class="news-entry">
  <h1>{{ entry.title }}</h1>

  {% if entry.featureImage|length %}
    <img src="{{ entry.featureImage.one().getUrl() }}">
  {% endif %}

  <div class="news-body-container">
    {{ entry.body }}
  </div>
</section>

{% endblock %}
