{# main layout #}
{% spaceless %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  {# include footer #}
  {% include '_globals/head' %}
  {% block head %}{% endblock %}
</head>

<body>
  {# include header #}
  {% include '_globals/header'%}

  <main>
    {# content block #}
    {% block content %}{% endblock %}
  </main>

  {# include footer #}
  {% include '_globals/footer' %}

  {% include '_globals/scripts' %}
</body>
</html>

{% endspaceless %}
