{# contact form #}

{% extends "_layout" %}

{% block content %}
  {{ entry.body }}

  <form action="/"> <!-- fix later -->
    Name: <input type="text" name="username"><br>
    Email: <input type="text" name="email"><br>
    Title: <input type="text" name="title"><br>
    Address: <input type="text" name="title"><br>
    Phone: <input type="number" name="phone"><br>
    <input type="submit" value="Submit">
  </form>

{% endblock %}
