// about partial

#about {
  h1 {
    margin-top: 0;
    text-align: center;
    background: url('/assets/img/ui/polygon-up-light-green.svg') no-repeat center/50% 100%;
    padding: .5rem 0;
  }

  .about-content {
    text-align: center;
    padding: 1em;
  }
}
