// contact partial

#contact {
  margin: 0 auto;
  max-width: $bp-md;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 0;
    text-align: center;
    background-image: url('/assets/img/ui/polygon-up-light-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 100%;
    padding: .5rem 0;
  }

  .contact-field-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $bp-md) {
      flex-direction: row;

      :first-child {
        margin-right: 1rem;
      }
    }

    :nth-child(1n) {
      margin: 0 1rem 1rem 1rem;
    }

    input {
      flex-grow: 1;
    }
  }

  textarea {
    margin: 0 1rem 1rem 1rem;
  }

  input[type="submit"] {
    align-self: flex-start;
    margin: 0 1rem 1rem 1rem;
  }

  p {
    margin: 0 1rem 1rem 1rem;
  }
}
