// distributors partial

.distributors-map {
  margin-bottom: 3rem;
}

.distributors-map-h1-wrapper {
  @include slant('trl', 'center', $color-green, $color-black, 0, 4rem);
  width: 30rem;
  margin: 0 auto 3rem auto;
  text-align: center;
}

.distributors-map-body {
  max-width: $bp-md;
  margin: 0 auto 3rem auto;
  padding: 0 1rem;
  text-align: center;
}

.smartmap-mapcanvas {
  max-width: $bp-xl;
  margin: 0 auto;
}

.distributors-network {
  margin: 0 auto;
  max-width: $bp-xl;

  h1 {
    margin-top: 0;
  }
}

.distributors-network-h1-wrapper {
  @include slant('bl', 'center', $color-green-dark, $color-white, 1rem, 4rem);
  max-width: $bp-lg;
  margin: 0 0 0 auto;
}

.accordion {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  color: $color-green-dark;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    display: block;
    border-bottom: solid 2px $color-green-dark;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    padding-left: 2rem;

    &::before {
      content: '+';
      display: inline-block;
      font-size: 1.6rem;
      position: absolute;
      top: -.55rem;
      left: 0;
      transition: all .15s;
    }
  }

  input:checked + .accordion-content {
    max-height: 100vh;
  }

  input:checked + label::before {
    transform: rotate(360deg);
    content: '-';
  }
}

.accordion-content {
  display: none;
  padding: 1em;
  background: #fff;
  font-family: $font-josefin-sans;
  transition: max-height .35s;
}

.accordion-image {
  margin-top: 1.5em;
  width: 150px;
}
