// distributors partial

.distributors-map {
  margin-bottom: 3rem;
}

.distributors-map-body {
  max-width: $bp-md;
  margin: 0 auto 3rem auto;
  padding: 0 1rem;
  text-align: center;
}

.smartmap-mapcanvas h4 {
  margin-top: 0;
}

.distributors-network-h1-wrapper {
  background-color: $color-green-dark;
  color: $color-white;
  margin: 0;
  width: 100%;
  text-align: center;

  @media screen and (min-width: $bp-md) {
    height: unset;
    background-color: unset;
    @include slant('bl', 'center', $color-green-dark, $color-white, 1rem, 4rem);
    max-width: calc(#{$bp-lg} - 4rem);
    margin: 0 0 0 auto;
  }

  h1 {
    margin: 0;
    padding: 1rem 0;
  }
}

.distributors-accordion {
  border-bottom: solid 2px $color-green-dark;
  position: relative;
  margin-bottom: 10px;
  max-width: $bp-lg;
  margin: 0 1rem;
  color: $color-green-dark;

  @media screen and (min-width: $bp-lg) {
    margin: 0 0 0 auto;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    display: block;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    padding-left: 2rem;

    &::before {
      content: '+';
      display: inline-block;
      font-size: 1.6rem;
      position: absolute;
      top: -.25rem;
      left: 0;
      transition: all .15s;
    }
  }

  input:checked + label::before {
    transform: rotate(360deg);
    content: '-';
  }
}

.distributors-content-container {
  display: none;
}

.distributors-subtitle {
  margin: 0 0 0 2rem;
}

.distributors-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: $font-josefin-sans;

  p {
    margin: 0;
    color: $color-black;
  }

  @media screen and (min-width: 700px) {
    flex-direction: row;
  }
}

.distributors-img {
  flex-shrink: 0;
  width: 150px;
  margin-bottom: 1rem;

  @media screen and (min-width: 700px) {
    margin-right: 2rem;
    margin-bottom: unset;
  }
}
