// distributors partial

#distributors-map {
  margin-bottom: 1rem;

  h2 {
    text-align: center;
    margin-top: 0;
    background-image: url('/assets/img/ui/polygon-down-light-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: .5rem 0;
  }

  .smartmap-mapcanvas {
    margin: 0 auto;
  }
}

#distributors-network {
  h2 {
    background-image: url('/assets/img/ui/polygon-left-green.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $color-white;
    margin-top: 0;
    padding: .5rem 0;
  }

  .fill {
    flex-grow: 1;
    height: auto;
    background-color: $color-green-dark;
  }
}

.accordion {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  color: $color-green-dark;
  margin: 0 auto;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    display: block;
    border-bottom: solid 2px $color-green-dark;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
  }

  input:checked + .accordion-content {
    max-height: 100vh;
  }

  label::before {
    content: '+';
    display: inline-block;
    font-size: 1.6rem;
    position: absolute;
    top: -.55rem;
    left: -2rem;
    transition: all .15s;
  }

  input:checked + label::before {
    transform: rotate(360deg);
    content: '-';
  }

  .accordion-content {
    display: none;
    padding: 1em;
    background: #fff;
    font-family: $font-josefin-sans;
    transition: max-height .35s;
  }

  .accordion-image {
    margin-top: 1.5em;
    width: 150px;
  }
}
