// featured products partial

.featured {
  margin-bottom: 3rem;

  img {
    width: 200px;
  }

  .h1-wrapper-top {
    margin-bottom: 1rem;
  }
}

.featured-container {
  justify-content: center;
  background: url('/assets/img/ui/polygon-all-gray.svg') no-repeat center/contain;
}

.featured-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.featured-title {
  height: 0;
  opacity: 0;
  transition: all .5s linear;
  text-transform: uppercase;
}

// visible carousel view
.slick-list {
  max-width: 950px;
}

.slick-track {
  height: calc(300px + 8rem);
}

.slick-list .slick-slide {
  display: flex;
}

.slick-slide {
  align-items: center;
  justify-content: center;

  img {
    transition: all .5s linear;
  }

  &:focus {
    outline: none;
  }
}

.slick-center {
  img {
    width: 300px;
  }

  .featured-title {
    opacity: 1;
  }
}

// carousel navigation buttons
.slick-prev, .slick-next {
  background-color: transparent;
  color: transparent;
  width: 6rem;
  height: 100%;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  box-shadow: none;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
