
#products-featured {

    ul {
       @include slant(left, 45deg, $color-gray);
       list-style: none;
       text-align: center;
    }

    a {
      text-decoration:none;
    }

}

#products-categories {

  a {
    color: #000;
    min-width: 200px;
    max-width: 300px;
    padding-right: 20px;
    text-decoration: none;
  }
  .flex-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;

  }

  .flex-container li{
background-color: $color-yellow;
    text-align: center;

    font-size: 20px;
  }

}


#products-featured h2, #products-categories h2{
  text-align: center;
  background-color: #94d0b8;
  padding: 10px 0px;
}
