// footer partial

#newsletter-sub {
  h2 {
    color: $color-yellow;
    text-transform: uppercase;
    margin: 0 0 0 15.9rem;
    line-height: .7;
  }

  form {
    background-image: url('/assets/img/ui/polygon-right-yellow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $color-white;
    padding: 1rem;
  }

  input[type="submit"] {
    background-color: lighten($color-yellow, 10);
    text-transform: uppercase;
    margin-left: 1rem;

    &:hover {
      background-color: lighten($color-yellow, 20);
    }
  }
}

#footer-info {
  margin-top: 2rem;
  flex-grow: 1;
  justify-content: space-around;
  background-image: url('/assets/img/ui/polygon-right-gray.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: .5rem 0;

  h3 {
    font-family: $font-roboto-slab;
    text-transform: uppercase;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      line-height: 2rem;
      font-family: $font-josefin-sans;
    }
  }
}
