// footer partial

#products-find{

// need div added into html code inorder to create the slant 45 left
// div{  @include slant(left, 45deg, $color-yellow);}
#find-container{
  margin-left:100px;
  @include slant(left, -45deg, $color-green-dark);
}
  h2 {
    color: $color-green-dark;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-left: 6.3em;
    line-height: .7em;
  }
  ul {
    margin-top:0px;
    padding: 1em 5em 1em 5em;
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    padding-right: 60px;
    color: $color-white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

#newsletter-sub {
  .flex {
    justify-content: flex-start;
  }

  h2 {
    color: $color-yellow;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 10em;
    line-height: .7em;
  }

  form {
    background-color: $color-yellow;
    flex-grow: 1;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $color-white;
    padding: 1em;
  }

  input[type="submit"] {
    text-transform: uppercase;
    margin-left: 1rem;
  }

  .triangle {
    @include triangle(bottom, right, 63px, 63px, $color-yellow);
  }
}

.footer-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;

  h3 {
    font-family: $font-roboto-slab;
    text-transform: uppercase;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      line-height: 2rem;
      font-family: $font-josefin-sans;
    }
  }

  .flex {
    flex-grow: 1;
    background-color: $color-gray;
    justify-content: space-around;
    max-width: 750px;
  }

  .triangle {
    @include triangle(bottom, right, 170px, 170px, $color-gray);
  }
}

@media only screen and (max-width: $mobile-breakpoint) {

  .footer-info {

    .triangle {
      display: none;
    }
  }
}

@media only screen and (max-width: $footer-breakpoint) {
  .footer-info {

    .flex {
      display: flex;
      flex-direction: column;
      padding: 1em;
    }
  }
}
