// header partial
header {
  margin-top: .5rem;

  nav {
    $height: 4rem;
    @include slant('tr', 'center', $color-yellow, $color-black, 3rem, $height);

    ul {
      justify-content: space-between;
      height: $height;
      list-style-type: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }

    a:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  @media screen and (min-width: $bp-md) {
    margin: .5rem 0 3rem 0;
  }
}

.header-top-row {
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 .5rem .5rem;
}

.header-img-a {
  margin-right: auto;
}

.header-img {
  max-width: 50px;

  @media screen and (min-width: 500px) {
    max-width: 85px;
  }

  @media screen and (min-width: $bp-sm) {
    max-width: 125px;
  }
}

.header-info-tel {
  display: none;
  font-size: .8rem;
  color: $color-gray;

  @media screen and (min-width: 350px) {
    display: unset;
  }

  @media screen and (min-width: 500px) {
    font-size: 1rem;
  }

  @media screen and (min-width: $bp-sm) {
    font-size: 1.2rem;
  }
}

.header-cart-wrapper {
  @include slant('bl', 'left', $color-yellow, $color-black, .5rem, 3rem);
  width: 7rem;
  font-size: .8rem;

  span {
    transition: color .15s ease-in-out;
  }

  &:hover {
    span {
      color: $color-white;
    }
  }

  @media screen and (min-width: $bp-sm) {
    @include slant('bl', 'left', $color-yellow, $color-black, 1rem, 5rem);
    width: 10rem;
    font-size: unset;
  }
}

.header-cart {
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (min-width: $bp-md) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  header nav {
    display: none;
  }

  .mobile-menu {
    width: auto;
    position: relative;
    padding: 0;
    height: 60px;
    line-height: 50px;
    user-select: none;
    text-transform: uppercase;
    font-weight: bold;

    a.dropdown-link {
      display: block;
      height: 40px;
      padding: 10px 20px;
      color: $color-black;
      font-size: 1em;
      cursor: pointer;
      background: $color-yellow;

      .hamburger {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        border-radius: 10px;
      }
    }

    a.dropdown-link:hover{
      text-decoration: none;
    }

    a.dropdown-link i{
      float: right;
      position: relative;
      top: 15px;
    }
  }

  .mobile-dropdown {
    display: none;
    list-style-type: none;
    background: $color-green-dark;
    padding: 0;
    min-width: 125px;
    position: relative;
    z-index: 100;
    margin: 0;

    li {
      padding: 0;
      height: auto;
    }

    li a {
      padding: 0;
      color: $color-white;
      display: block;
      padding: 0 20px;
      height: 45px;
      line-height: 45px;
      font-size: .9em;
      text-decoration: none;
      text-align: center;
    }

    li a:hover{
      text-decoration: none;
      background: $color-green;
    }
  }
}
