// home partial

.home-feature {
  position: relative;
  margin-bottom: 3rem;
}

.request-a-quote-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.request-a-quote {
  @include slant('brl', 'center', transparentize($color-yellow, .1), $color-black, 0, 4rem);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;

  @media screen and (min-width: $bp-md) {
    left: 0;
    transform: none;
  }

  span {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition: color .15s ease-in-out;
  }

  &:hover {
    span {
      color: $color-white;
    }
  }
}

.home-body {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 1rem;

  h1 {
    margin-bottom: 2rem;
  }
}

.testimonials {
  img {
    display: block;
    width: 100%;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    margin: 0;
    text-align: right;

    &:first-child {
      text-align: left;
      margin-bottom: auto;
    }
  }
}

.testimonials-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 400px) {
    flex-direction: row;
  }
}

.testimonial {
  flex: 1 1 0;
  position: relative;
}

.testimonial-text-wrapper {
  $height: 10rem;
  $width: $height / 2;
  $padding: .5rem;
  background-color: transparentize($color-yellow, .1);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $padding;
  width: calc(100% - 2 * #{$padding});
  height: calc(100% - 2 * #{$padding});

  @media screen and (min-width: $bp-md) {
    background-color: unset;
    @include slant('bl', 'center', transparentize($color-yellow, .1), $color-black, $padding, $height, $width, $padding);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: calc(100% - #{$width});
    height: unset;
  }

  p:first-child {
    align-self: flex-start;
  }

  .testimonial-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;

    @media screen and (min-width: $bp-md) {
      height: $height - 2 * $padding;
    }
  }
}

.testimonial-author {
  text-transform: uppercase;
}
