// home partial

#testimonials {
  .flex {
    justify-content: center;
  }

  h1 {
    display: inline-block;
    background-color: $color-green;
    padding: 1rem 0;
    margin: 0;
  }

  #testimonial-wrapper {
    @media screen and (min-width: $mobile-breakpoint) {
      display: flex;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  a {
    flex: 1 1 0;
    position: relative;
    text-align: center;
  }

  ul {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: transparentize($color-yellow, .2);
    list-style-type: none;
    text-align: right;
  }

  a:hover {
    text-decoration: none;
  }
}
