// main partial
// this file should contain properties that can apply to every page

body {
  box-sizing: border-box;
  font-family: $font-roboto-slab;
  color: $color-black;

}

main {
  margin-bottom: 3rem;
}

p {
  font-family: $font-josefin-sans;
  line-height: 1.7;

}

a {
  color: $color-black;
  transition: color .15s ease-in-out;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:visited {
    color: $color-black;
  }
}

button, input[type='submit'] {
  background-color: $color-yellow;
  font-family: $font-josefin-sans;
  border: none;
  padding: .375rem .75rem;
  transition: all .15s ease-in-out;
  @include focus;

  &:hover {
    background-color: darken($color-yellow, 15);
    cursor: pointer;
  }
}

input[type='text'], input[type='email'], input[type='search'], textarea {
  background-color: $color-white;
  font-family: $font-josefin-sans;
  border: none;
  padding: .375rem .75rem;
  transition: box-shadow .15s ease-in-out;
  @include focus;

  &.invalid-input {
    box-shadow: 0 0 0 .2rem lighten($color-red, 15);
  }
}

textarea {
  resize: none;
}

img {
  vertical-align: top;
}

.flex {
  display: flex;
}

.feature-img {
  display: block;
  width: 100%;
  max-width: 1600px;
  max-height: 300px;
  object-fit: cover;
  margin: 0 auto;

  @media screen and (min-width: $bp-md) {
    max-height: 400px;
  }
}

.h1-wrapper-top {
  @include slant('trl', 'center', $color-green, $color-black, 1rem, 4rem);
  width: 30rem;
  margin: 0 auto 3rem auto;
  text-align: center;
}

.h1-wrapper-bottom {
  @include slant('brl', 'center', $color-green, $color-black, 1rem, 4rem);
  width: 30rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: $bp-lg){
    .h1-wrapper-top {
      width: 15rem;
    }
    .h1-wrapper-bottom {
      width: 15rem;
    }
    h1{
      font-size: 140%;
    }

}
