// news partial

.news-list {
  margin: 0 auto 3rem auto;
}

.news-item {
  flex-direction: row;
  align-items: flex-start;

  img {
    object-fit: cover;
    width: 300px;
  }

  a {
    color: $color-black;
    text-decoration: none;
  }

  h2 {
    color: $color-green-dark;
  }

  > :first-child {
    margin-right: 2rem;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.news-pagination {
  text-align: center;

  *:not(:last-child) {
    margin-right: 1rem;
  }
}

.news-entry {
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  img {
    display: block;
    margin: 0 auto 2rem auto;
    max-width: 100%;
    max-height: 300px;

    @media screen and (min-width: $bp-md) {
      max-height: 400px;
    }
  }
}

.news-body-container {
  padding: 0 1rem;
}
