#products-popular-categories {
  margin-bottom: 2rem;

  h1 {
    background-color: $color-green;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      width: 100px;
    }

    @media screen and (min-width: $mobile-breakpoint) {
      flex: 1 1 30%;
    }
  }

  .h1-wrapper {
    justify-content: center;
  }

  .flex {
    flex-wrap: wrap;
  }

  .product-title {
    font-weight: bold;
    font-family: $font-roboto-slab, serif;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: .3em;
  }
}

#products-find{
  #find-container{
    margin-left:100px;
    background-color: $color-green-dark;
  }

  h2 {
    color: $color-green-dark;
    text-transform: uppercase;
    margin: 0 0 0 6.225rem;
    line-height: .7;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-top:0px;
    padding: 1em 5em 1em 5em;
    list-style-type: none;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    font-weight: bold;
  }
}
