.product-container {
  max-width: $bp-xl;
  margin: 0 auto;
}

.product-details {
  img {
    align-self: flex-start;
    flex-shrink: 0;
    width: 300px;
  }

  h1 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.product-info {
  padding: 0 1rem;
}

.product-brands-grade {
  & > * {
    flex-basis: 50%;
  }
}

form[name='product-add-form'] {
  flex-direction: column;
  margin-bottom: 2rem;

  input[name='qty'] {
    width: 50px;
  }
}

.product-opts {
  margin-bottom: 1rem;

  span {
    margin-right: 1rem;
  }
}
