.radio{
  margin-right: 10px;

}
.mt-8{
  padding: 2px 0px 2px 10px;
  width: 150px;
  background-color: $color-green-dark;
  p{
    color:white;
    margin:0px;
  }
}

.product-details{
  padding-left: 10px;
  img{
    margin-top: 20px;
  }

}

.product-content{

  .field{
  padding-bottom: 20px;
    select{
      color: white;
      background-color: $color-green-dark;
      border: solid $color-green-dark 10px;
      margin: 0px 20px 10px 0px;
    }
  }

}

.avaliablegrades{
  padding-left:10px;
}
//All Products page styling - mobile
#product-specifications{
  padding-left: 10px;
  ul{
    list-style-type: none;
    li{
      padding-top: 10px;

    }
  }
}
#select-product select{
  color: white;
  background-color: $color-green-dark;
  border: solid $color-green-dark 10px;
  margin: 0px 20px 10px 10px;

}
//All Products page styling end - mobile

@media screen and (min-width: $bp-lg){

.product-details{
  display: flex;
}

//All Products Desktop
#product-specifications{
  max-width: 700px;

  ul{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  }
}
//All Products Desktop end

}
