#products-popular-categories {
  margin-bottom: 2rem;

  h1 {
    text-align: center;
    margin-top: 0;
    background: url('/assets/img/ui/polygon-down-light-green.svg') no-repeat center/50% 100%;
    padding: .5rem 0;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      width: 100px;
    }

    @media screen and (min-width: $bp-md) {
      flex: 1 1 30%;
    }
  }

  .flex {
    flex-wrap: wrap;
  }

  .product-title {
    font-weight: bold;
    font-family: $font-roboto-slab, serif;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: .3em;
  }
}

#products-find{
  max-width: $bp-xl;
  margin: 0 auto;

  #find-container{
    background: url('/assets/img/ui/polygon-left-green.svg') no-repeat right/cover;
  }

  h2 {
    color: $color-green-dark;
    text-transform: uppercase;
    margin: 0 0 0 12rem;
    line-height: .7;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1.25rem 5rem 1.25rem 12rem;
    font-size: 1.2rem;
    list-style-type: none;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    font-weight: bold;
  }
}
