// product category entry partial

.category-container {
  display: grid;
  row-gap: 2rem;
  column-gap: 1rem;

  @media screen and (min-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $bp-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  h2 {
    margin: 0 auto;
  }

  img {
    max-width: 150px;
    max-height: 150px;

    @media screen and (min-width: $bp-md) {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

.category-product {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: $color-black;
}

.category-image {
  justify-self: center;
}

.category-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem 0;

  p {
    font-family: $font-roboto-slab;
    margin: 0;
  }

  span {
    color: $color-black;
  }

  @media screen and (min-width: $bp-sm) {
    font-size: 1.2rem;
  }
}

.category-text-price {
  justify-self: flex-end;
  color: $color-gray;
}
