// search partial

form[name='search-form'] {
  display: flex;
  max-width: 800px;
  margin: 0 auto;

  input[type='search'] {
    flex-grow: 1;
    margin: 0 1rem;
  }

  input[type='submit'] {
    margin: 0 1rem 0 0;
  }
}
