// testimonials partial

#testimonials{
  h1 {
    background-color: #94d0b8;
    padding: 10px 0px;
    text-align: center;
  }
  #testimonial{
    display: flex;
    padding: 20px 10px 20px 25px;
    @include slant(left, -20deg, rgba(250, 190, 71, .3));
    max-width: 1350px;
  }

  
  ul{
    list-style: none;
    text-align: right;
    max-width: 275px;
    justify-content: space-between;
    width: auto;

  }
  li{

  }
}
