// testimonials partial

#testimonials{
  h1 {
    background-color: #94d0b8;
    padding: 10px 0px;
    text-align: center;
  }
  #testimonial{
    margin: auto;
    padding: 20px 10px 20px 25px;
    width: 400px;
    @include slant(left, -20deg, rgba(250, 190, 71, .3));

    img{
      z-index: 0;
      width: 100%;
    }

    ul{
      position: absolute; top: 20px; padding-left: 190px; padding-top: 100px;
      z-index: 1;
      background-color: rgba(250, 190, 71, .3);
      list-style: none;
      text-align: right;
      max-width: 400px;
      justify-content: space-between;
      width: auto;

    }

  }

}

@media screen and (min-width: 780px){

  #testimonialset{
    display:flex;

    ul{

    }
  }


}
