// variables partial

// colors
$color-white: #fafafa;
$color-yellow: #f9c546;
$color-green-light: #649f7b;
$color-green-dark: #008e56;
$color-green: #31674d;
$color-gray: #a9b4b9;
$color-black: #212121;

// fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto+Slab:400,700');

$font-roboto-slab: 'Roboto Slab', serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;

// breakpoints
// TODO
$mobile-breakpoint: 768px;
$footer-breakpoint: 650px;
