{% extends "_layouts/main" %}

{% block content %}

<section>
  <div class="h1-wrapper-top">
    <h1>404</h1>
  </div>

  <p style="text-align:center;">That page doesn't exist.</p>
</section>

{% endblock %}
