{# main layout #}
<!DOCTYPE html>
<html lang="en-US">
<head>
  {# include footer #}
  {% include '_globals/head' %}
  {% block head %}{% endblock %}
</head>

<body>
  {# include header #}
  {% include '_globals/header'%}

  <main>
    {# feature image #}
    {% if entry.featureImage|length %}
      <img src="{{ entry.featureImage.one().getUrl() }}"/>
    {% endif %}

    {% if entry.subtitle|length %}
      {{ entry.subtitle }}
    {% endif %}

    {# content block #}
    {% block content %}{% endblock %}

    {# include newsletter #}
    {% include '_includes/newsletter' %}
  </main>

  {# include footer #}
  {% include '_globals/footer' %}
</body>
</html>
