<footer>
  {# include product finder on shop pages #}
  {% if craft.app.request.segments|length and craft.app.request.segments[0] == 'shop' %} {# TODO: change to products #}
    {% include '_includes/products-search' %}
  {% endif %}

  <div class="footer-container">
    {# include newsletter form #}
    {% include '_includes/newsletter' %}

    <div class="footer-info-container-outer">
      <div class="footer-info-container-inner">
        <div class="footer-info">
          <div class="footer-social">
            <h3>Connect With Us</h3>
            {# <div class="social-icon-container"> #}
              <a href="https://www.facebook.com/RenewableLubricants/">
                <img src="{{ url('assets/img/ui/social/dunno.svg') }}" alt="{# TODO #}" class="footer-social-icon">
              </a>
              <a href="https://www.instagram.com/renewablelubricants/" class="button-social">
                <img src="{{ url('assets/img/ui/social/instagram.svg') }}" alt="instagram button" class="footer-social-icon">
              </a>
              <a href="mailto:info@renewablelube.com" class="button-social">
                <img src="{{ url('assets/img/ui/social/email.svg') }}" alt="email button" class="footer-social-icon">
              </a>
            {# </div> #}
          </div>

          <div>
            <h3>Contact</h3>
            <ul>
              <li><a href="{# TODO #}">Request a Data Sheet</a></li>
              <li><a href="{# TODO #}">Visit the Office</a></li>
              <li><a href="{{ url('distributors-portal') }}">Distributors Portal</a></li>
            </ul>
          </div>

          <div>
            <h3>Location</h3>
            <ul>
              <li>P.O. Box 474</li>
              <li>Hartville, OH 44632-0474</li>
              <li>Phone: 800-837-LUBE</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
