<footer>
  <ul>
    <li>P: 800-837-LUBE</li>
    <li>P: 330-877-9982</li>
    <li>F: 330-877-2266</li>
    <li>P.O. Box 474, Hartville, OH 44632-0474</li>
    <li><a href="mailto:info@renewablelube.com">info@renewablelube.com</a></li>
    <li>© {{ date()|date('Y') }} Renewable Lubricants</li>
  </ul>
</footer>
