<footer>
  {# include newsletter #}
  {% include '_includes/newsletter' %}

  <div class="flex">
    <div>
      <h3>Connect With Us</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/RenewableLubricants/" class="button-social">
            (facebook icon)
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/renewablelubricants/" class="button-social">
            (instagram icon)
          </a>
        </li>
        <li>
          <a href="mailto:info@renewablelube.com" class="button-social">
            (email icon)
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3>Contact</h3>
      <ul>
        <li><a href="{# TODO #}">Request a Data Sheet</a></li>
        <li><a href="{# TODO #}">Information Form</a></li>
        <li><a href="{# TODO #}">Visit the Office</a></li>
      </ul>
    </div>

    <div>
      <h3>Location</h3>
      <ul>
        <li>P.O. Box 474</li>
        <li>Hartville, OH 44632-0474</li>
        <li>Phone: (800) 837-LUBE</li>
      </ul>
    </div>
  </div>
</footer>
