{% if craft.app.request.segments|length %}
  {% set slug = craft.app.request.segments[0] %}
{% endif %}

<footer>
  <div class="footer-container-outer">
    {% if slug is defined and slug =='distributors' %}
      <div class="distributors-network-ext"></div>
    {% endif %}

    {% if slug is defined and slug == 'products' %}
      <div class="products-search-ext"></div>
    {% endif %}

    <div class="footer-newsletter-ext"></div>
    <div class="footer-info-ext"></div>
    <div class="footer-container">
      {# inlude distributors network on distributor page #}
      {% if slug is defined and slug == 'distributors' %}
        {% include '_includes/distributors-network' %}
      {% endif %}

      {# include product finder on product pages #}
      {% if slug is defined and slug == 'products' %}
        {% include '_includes/products-search' %}
      {% endif %}

      <div class="footer-container-inner">
        {# include newsletter form #}
        {% include '_includes/newsletter' %}

        <div class="footer-info-container-outer">
          <div class="footer-info-container-inner">
            <div class="footer-info">
              <div class="footer-social">
                <h3>Connect With Us</h3>
                <a href="https://www.facebook.com/RenewableLubricants/">
                  <img src="{{ url('assets/img/ui/social/facebook.svg') }}" alt="facebook button" class="footer-social-icon">
                </a>
                <a href="https://www.instagram.com/renewablelubricants/" class="button-social">
                  <img src="{{ url('assets/img/ui/social/instagram.svg') }}" alt="instagram button" class="footer-social-icon">
                </a>
                <a href="mailto:info@renewablelube.com" class="button-social">
                  <img src="{{ url('assets/img/ui/social/email.svg') }}" alt="email button" class="footer-social-icon">
                </a>
              </div>

              <div class="footer-contact">
                <h3>Contact</h3>
                <ul>
                  <li><a href="{# TODO #}">Request a Data Sheet</a></li>
                  <li><a href="{# TODO #}">Visit the Office</a></li>
                  <li><a href="{{ url('distributors-portal') }}">Distributors Portal</a></li>
                </ul>
              </div>

              <div>
                <h3>Info</h3>
                <ul>
                  <li>P.O. Box 474</li>
                  <li>Hartville, OH 44632</li>
                  <li>Phone: +1-800-837-LUBE</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
