<footer>
  <h2>Sign Up to Receive Our Weekly Newsletter</h3>
  {# TODO: newsletter email form action #}
  <form action="">
    <input type="email" name="email" placeholder="Enter Email Address…">
    <input type="submit" name="submit" value="Subscribe!">
  </form>

  <ul>
    <li>P: (800) 837-LUBE</li>
    <li>P: (330) 877-9982</li>
    <li>F: (330) 877-2266</li>
    <li>P.O. Box 474, Hartville, OH 44632-0474</li>
    <li><a href="mailto:info@renewablelube.com">info@renewablelube.com</a></li>
    <li>© {{ date()|date('Y') }} Renewable Lubricants</li>
  </ul>
</footer>
