<meta charset="utf-8" />
<title>{{ entry.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# TODO: favicons #}
{# {% include '_includes/_favicons.html' %} #}

{# TODO: stylesheet #}
{# <link href="{{ siteUrl }}css/styles.css" type="text/css" rel="stylesheet" media="screen"/> #}

<style>
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009154;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
  background-color: #111;
}
</style>
