<header>
  {# header image #}
  <a href="{{ siteUrl }}"><img src="{{ header.logo.one().getUrl() }}"/></a>

  {# top nav #}
  <nav>
    <ul>
      <li><a href="{{ siteUrl }}">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/distributors">Distributors</a></li>
      <li><a href="/news">News & Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  {# seach bar and button #}
  <form action="{{ url('search/results') }}">
    <input type="search" placeholder="Search">
    <input class="search-button" type="submit" value="Go">
  </form>
</header>
